---
layout: default
title: Oversigt
---






<div class="container">
  <div class="grid-header">

    <span class="page-title">Oversigt</span>

    <a class="oversigt-logo" href="/"><img src="images/spisornli_logo_box8.svg" /></a>
  </div>
  <div class="row">

    <div class="oversigt-nav-wrapper">
      <a class="btn task-btn forl-btn" href="#theme1">Temaforløb 1<span class="badge"><i class="fa fa-arrow-down"></i></span></a>
      <a class="btn task-btn forl-btn" href="#theme2">Temaforløb 2<span class="badge"><i class="fa fa-arrow-down"></i></span></a>
      <a class="btn task-btn forl-btn" href="#theme3">Temaforløb 3<span class="badge"><i class="fa fa-arrow-down"></i></span></a>
      <a class="btn task-btn forl-btn" href="#theme4">Temaforløb 4<span class="badge"><i class="fa fa-arrow-down"></i></span></a>
      <a class="btn task-btn forl-btn" href="#theme5">Temaforløb 5<span class="badge"><i class="fa fa-arrow-down"></i></span></a>
    </div>



    {% for block in site.blocks %}
    {% if block.theme == "1" %}
    {% unless block.lession %}


    <a name="theme{{ block.theme }}"></a>
    <div class="grid-row-header">
      <div class="grid-title-wrapper">
        <span class="grid-title-label">{{ block.theme }}</span>
        <h1 class="item-title">{{ block.title }}</h1>
      </div>
      <p class="item-text">{{ block.intro }}</p>
    </div>

    {% endunless %}
    {% endif %}
    {% endfor %}

    <div class="grid-madkundskab col-fixed col-sm-6 col-md-4">
      {% for block in site.blocks %}
      {% if block.theme == "1" and block.lession == "A" %}   
      <a href="/blocks/{{ block.theme }}{{ block.lession | downcase }}.html" class="grid-item-wrapper">    
        <div class="grid-image-wrapper">
          <span class="label item-label">Madkundskab</span>
          <div class="grid-image"><img src="{{ block.image }}" /></div>
        </div>
        <div class="grid-item">
          <div class="grid-label-wrapper">
            <span class="label item-label">lektion {{ block.theme }}{{ block.lession }}</span>
            <span class="label item-label">{{ block.time }}</span>
          </div>
          <h1 class="grid-item-title">{{ block.title }}</h1>
          <p>{{ block.intro }}</p>

        </div>
      </a> <!-- grid-item-wrapper -->
      {% endif %}
      {% endfor %}
    </div>

    <div class="grid-natur-teknologi col-fixed col-sm-6 col-md-4">
      {% for block in site.blocks %}
      {% if block.theme == "1" and block.lession == "B" %}   
      <a href="/blocks/{{ block.theme }}{{ block.lession | downcase }}.html" class="grid-item-wrapper">    
        <div class="grid-image-wrapper">
          <span class="label item-label">Madkundskab</span>
          <div class="grid-image"><img src="{{ block.image }}" /></div>
        </div>
        <div class="grid-item">
          <div class="grid-label-wrapper">
            <span class="label item-label">lektion {{ block.theme }}{{ block.lession }}</span>
            <span class="label item-label">{{ block.time }}</span>
          </div>
          <h1 class="grid-item-title">{{ block.title }}</h1>
          <p>{{ block.intro }}</p>

        </div>
      </a> <!-- grid-item-wrapper -->
      {% endif %}
      {% endfor %}
    </div>

    <div class="clearfix visible-sm-block"></div>

    <div class="grid-dansk col-fixed col-sm-6 col-md-4">
      {% for block in site.blocks %}
      {% if block.theme == "1" and block.lession == "C" %}   
      <a href="/blocks/{{ block.theme }}{{ block.lession | downcase }}.html" class="grid-item-wrapper">    
        <div class="grid-image-wrapper">
          <span class="label item-label">Madkundskab</span>
          <div class="grid-image"><img src="{{ block.image }}" /></div>
        </div>
        <div class="grid-item">
          <div class="grid-label-wrapper">
            <span class="label item-label">lektion {{ block.theme }}{{ block.lession }}</span>
            <span class="label item-label">{{ block.time }}</span>
          </div>
          <h1 class="grid-item-title">{{ block.title }}</h1>
          <p>{{ block.intro }}</p>

        </div>
      </a> <!-- grid-item-wrapper -->
      {% endif %}
      {% endfor %}
    </div>

    <div class="clearfix visible-md-block visible-lg-block"></div>

    <div class="grid-matematik col-fixed col-sm-6 col-md-4">
      {% for block in site.blocks %}
      {% if block.theme == "1" and block.lession == "D" %}   
      <a href="/blocks/{{ block.theme }}{{ block.lession | downcase }}.html" class="grid-item-wrapper">    
        <div class="grid-image-wrapper">
          <span class="label item-label">Madkundskab</span>
          <div class="grid-image"><img src="{{ block.image }}" /></div>
        </div>
        <div class="grid-item">
          <div class="grid-label-wrapper">
            <span class="label item-label">lektion {{ block.theme }}{{ block.lession }}</span>
            <span class="label item-label">{{ block.time }}</span>
          </div>
          <h1 class="grid-item-title">{{ block.title }}</h1>
          <p>{{ block.intro }}</p>

        </div>
      </a> <!-- grid-item-wrapper -->
      {% endif %}
      {% endfor %}
    </div>

    <div class="clearfix visible-sm-block"></div>

    <div class="grid-historie col-fixed col-sm-6 col-md-4">
      {% for block in site.blocks %}
      {% if block.theme == "1" and block.lession == "E" %}   
      <a href="/blocks/{{ block.theme }}{{ block.lession | downcase }}.html" class="grid-item-wrapper">    
        <div class="grid-image-wrapper">
          <span class="label item-label">Madkundskab</span>
          <div class="grid-image"><img src="{{ block.image }}" /></div>
        </div>
        <div class="grid-item">
          <div class="grid-label-wrapper">
            <span class="label item-label">lektion {{ block.theme }}{{ block.lession }}</span>
            <span class="label item-label">{{ block.time }}</span>
          </div>
          <h1 class="grid-item-title">{{ block.title }}</h1>
          <p>{{ block.intro }}</p>
        </div>
      </a> <!-- grid-item-wrapper -->
      {% endif %}
      {% endfor %}
    </div>

    <div class="grid-opskrift col-fixed col-sm-6 col-md-4">
      {% for block in site.blocks %}
      {% if block.theme == "1" and block.lession == "F" %}   
      <a href="/blocks/{{ block.theme }}{{ block.lession | downcase }}.html" class="grid-item-wrapper">    
        <div class="grid-image-wrapper">
          <span class="label item-label">Madkundskab</span>
          <div class="grid-image"><img src="{{ block.image }}" /></div>
        </div>
        <div class="grid-item">
          <div class="grid-label-wrapper">
            <span class="label item-label">lektion {{ block.theme }}{{ block.lession }}</span>
            <span class="label item-label">{{ block.time }}</span>
          </div>
          <h1 class="grid-item-title">{{ block.title }}</h1>
          <p>{{ block.intro }}</p>

        </div>
      </a> <!-- grid-item-wrapper -->
      {% endif %}
      {% endfor %}
    </div>

    <div class="clearfix visible-sm-block"></div>
    <div class="clearfix visible-md-block visible-lg-block"></div>

    {% for block in site.blocks %}
    {% if block.theme == "2" %}
    {% unless block.lession %}

    <a name="theme{{ block.theme }}"></a>
    <div class="grid-row-header">
      <div class="grid-title-wrapper">
        <span class="grid-title-label">{{ block.theme }}</span>
        <h1 class="item-title">{{ block.title }}</h1>
      </div>
      <p class="item-text">{{ block.intro }}</p>
    </div>

    {% endunless %}
    {% endif %}
    {% endfor %}

    <div class="grid-madkundskab col-fixed col-sm-6 col-md-4">
      {% for block in site.blocks %}
      {% if block.theme == "2" and block.lession == "A" %}   
      <a href="/blocks/{{ block.theme }}{{ block.lession | downcase }}.html" class="grid-item-wrapper">    
        <div class="grid-image-wrapper">
          <span class="label item-label">Madkundskab</span>
          <div class="grid-image"><img src="{{ block.image }}" /></div>
        </div>
        <div class="grid-item">
          <div class="grid-label-wrapper">
            <span class="label item-label">lektion {{ block.theme }}{{ block.lession }}</span>
            <span class="label item-label">{{ block.time }}</span>
          </div>
          <h1 class="grid-item-title">{{ block.title }}</h1>
          <p>{{ block.intro }}</p>

        </div>
      </a> <!-- grid-item-wrapper -->
      {% endif %}
      {% endfor %}
    </div>

    <div class="grid-natur-teknologi col-fixed col-sm-6 col-md-4">
      {% for block in site.blocks %}
      {% if block.theme == "2" and block.lession == "B" %}   
      <a href="/blocks/{{ block.theme }}{{ block.lession | downcase }}.html" class="grid-item-wrapper">    
        <div class="grid-image-wrapper">
          <span class="label item-label">Madkundskab</span>
          <div class="grid-image"><img src="{{ block.image }}" /></div>
        </div>
        <div class="grid-item">
          <div class="grid-label-wrapper">
            <span class="label item-label">lektion {{ block.theme }}{{ block.lession }}</span>
            <span class="label item-label">{{ block.time }}</span>
          </div>
          <h1 class="grid-item-title">{{ block.title }}</h1>
          <p>{{ block.intro }}</p>

        </div>
      </a> <!-- grid-item-wrapper -->
      {% endif %}
      {% endfor %}
    </div>

    <div class="clearfix visible-sm-block"></div>

    <div class="grid-dansk col-fixed col-sm-6 col-md-4">
      {% for block in site.blocks %}
      {% if block.theme == "2" and block.lession == "C" %}   
      <a href="/blocks/{{ block.theme }}{{ block.lession | downcase }}.html" class="grid-item-wrapper">    
        <div class="grid-image-wrapper">
          <span class="label item-label">Madkundskab</span>
          <div class="grid-image"><img src="{{ block.image }}" /></div>
        </div>
        <div class="grid-item">
          <div class="grid-label-wrapper">
            <span class="label item-label">lektion {{ block.theme }}{{ block.lession }}</span>
            <span class="label item-label">{{ block.time }}</span>
          </div>
          <h1 class="grid-item-title">{{ block.title }}</h1>
          <p>{{ block.intro }}</p>

        </div>
      </a> <!-- grid-item-wrapper -->
      {% endif %}
      {% endfor %}
    </div>

    <div class="clearfix visible-md-block visible-lg-block"></div>

    <div class="grid-matematik col-fixed col-sm-6 col-md-4">
      {% for block in site.blocks %}
      {% if block.theme == "2" and block.lession == "D" %}   
      <a href="/blocks/{{ block.theme }}{{ block.lession | downcase }}.html" class="grid-item-wrapper">    
        <div class="grid-image-wrapper">
          <span class="label item-label">Madkundskab</span>
          <div class="grid-image"><img src="{{ block.image }}" /></div>
        </div>
        <div class="grid-item">
          <div class="grid-label-wrapper">
            <span class="label item-label">lektion {{ block.theme }}{{ block.lession }}</span>
            <span class="label item-label">{{ block.time }}</span>
          </div>
          <h1 class="grid-item-title">{{ block.title }}</h1>
          <p>{{ block.intro }}</p>

        </div>
      </a> <!-- grid-item-wrapper -->
      {% endif %}
      {% endfor %}
    </div>

    <div class="clearfix visible-sm-block"></div>

    <div class="grid-historie col-fixed col-sm-6 col-md-4">
      {% for block in site.blocks %}
      {% if block.theme == "2" and block.lession == "E" %}   
      <a href="/blocks/{{ block.theme }}{{ block.lession | downcase }}.html" class="grid-item-wrapper">    
        <div class="grid-image-wrapper">
          <span class="label item-label">Madkundskab</span>
          <div class="grid-image"><img src="{{ block.image }}" /></div>
        </div>
        <div class="grid-item">
          <div class="grid-label-wrapper">
            <span class="label item-label">lektion {{ block.theme }}{{ block.lession }}</span>
            <span class="label item-label">{{ block.time }}</span>
          </div>
          <h1 class="grid-item-title">{{ block.title }}</h1>
          <p>{{ block.intro }}</p>
        </div>
      </a> <!-- grid-item-wrapper -->
      {% endif %}
      {% endfor %}
    </div>

    <div class="grid-opskrift col-fixed col-sm-6 col-md-4">
      {% for block in site.blocks %}
      {% if block.theme == "2" and block.lession == "F" %}   
      <a href="/blocks/{{ block.theme }}{{ block.lession | downcase }}.html" class="grid-item-wrapper">    
        <div class="grid-image-wrapper">
          <span class="label item-label">Madkundskab</span>
          <div class="grid-image"><img src="{{ block.image }}" /></div>
        </div>
        <div class="grid-item">
          <div class="grid-label-wrapper">
            <span class="label item-label">lektion {{ block.theme }}{{ block.lession }}</span>
            <span class="label item-label">{{ block.time }}</span>
          </div>
          <h1 class="grid-item-title">{{ block.title }}</h1>
          <p>{{ block.intro }}</p>

        </div>
      </a> <!-- grid-item-wrapper -->
      {% endif %}
      {% endfor %}
    </div>

    <div class="clearfix visible-sm-block"></div>
    <div class="clearfix visible-md-block visible-lg-block"></div>

    {% for block in site.blocks %}
    {% if block.theme == "3" %}
    {% unless block.lession %}
    <a name="theme{{ block.theme }}"></a>

    <div class="grid-row-header">
      <div class="grid-title-wrapper">
        <span class="grid-title-label">{{ block.theme }}</span>
        <h1 class="item-title">{{ block.title }}</h1>
      </div>
      <p class="item-text">{{ block.intro }}</p>
    </div>

    {% endunless %}
    {% endif %}
    {% endfor %}

    <div class="grid-madkundskab col-fixed col-sm-6 col-md-4">
      {% for block in site.blocks %}
      {% if block.theme == "3" and block.lession == "A" %}   
      <a href="/blocks/{{ block.theme }}{{ block.lession | downcase }}.html" class="grid-item-wrapper">    
        <div class="grid-image-wrapper">
          <span class="label item-label">Madkundskab</span>
          <div class="grid-image"><img src="{{ block.image }}" /></div>
        </div>
        <div class="grid-item">
          <div class="grid-label-wrapper">
            <span class="label item-label">lektion {{ block.theme }}{{ block.lession }}</span>
            <span class="label item-label">{{ block.time }}</span>
          </div>
          <h1 class="grid-item-title">{{ block.title }}</h1>
          <p>{{ block.intro }}</p>

        </div>
      </a> <!-- grid-item-wrapper -->
      {% endif %}
      {% endfor %}
    </div>

    <div class="grid-natur-teknologi col-fixed col-sm-6 col-md-4">
      {% for block in site.blocks %}
      {% if block.theme == "3" and block.lession == "B" %}   
      <a href="/blocks/{{ block.theme }}{{ block.lession | downcase }}.html" class="grid-item-wrapper">    
        <div class="grid-image-wrapper">
          <span class="label item-label">Madkundskab</span>
          <div class="grid-image"><img src="{{ block.image }}" /></div>
        </div>
        <div class="grid-item">
          <div class="grid-label-wrapper">
            <span class="label item-label">lektion {{ block.theme }}{{ block.lession }}</span>
            <span class="label item-label">{{ block.time }}</span>
          </div>
          <h1 class="grid-item-title">{{ block.title }}</h1>
          <p>{{ block.intro }}</p>

        </div>
      </a> <!-- grid-item-wrapper -->
      {% endif %}
      {% endfor %}
    </div>

    <div class="clearfix visible-sm-block"></div>

    <div class="grid-dansk col-fixed col-sm-6 col-md-4">
      {% for block in site.blocks %}
      {% if block.theme == "3" and block.lession == "C" %}   
      <a href="/blocks/{{ block.theme }}{{ block.lession | downcase }}.html" class="grid-item-wrapper">    
        <div class="grid-image-wrapper">
          <span class="label item-label">Madkundskab</span>
          <div class="grid-image"><img src="{{ block.image }}" /></div>
        </div>
        <div class="grid-item">
          <div class="grid-label-wrapper">
            <span class="label item-label">lektion {{ block.theme }}{{ block.lession }}</span>
            <span class="label item-label">{{ block.time }}</span>
          </div>
          <h1 class="grid-item-title">{{ block.title }}</h1>
          <p>{{ block.intro }}</p>

        </div>
      </a> <!-- grid-item-wrapper -->
      {% endif %}
      {% endfor %}
    </div>

    <div class="clearfix visible-md-block visible-lg-block"></div>

    <div class="grid-matematik col-fixed col-sm-6 col-md-4">
      {% for block in site.blocks %}
      {% if block.theme == "3" and block.lession == "D" %}   
      <a href="/blocks/{{ block.theme }}{{ block.lession | downcase }}.html" class="grid-item-wrapper">    
        <div class="grid-image-wrapper">
          <span class="label item-label">Madkundskab</span>
          <div class="grid-image"><img src="{{ block.image }}" /></div>
        </div>
        <div class="grid-item">
          <div class="grid-label-wrapper">
            <span class="label item-label">lektion {{ block.theme }}{{ block.lession }}</span>
            <span class="label item-label">{{ block.time }}</span>
          </div>
          <h1 class="grid-item-title">{{ block.title }}</h1>
          <p>{{ block.intro }}</p>

        </div>
      </a> <!-- grid-item-wrapper -->
      {% endif %}
      {% endfor %}
    </div>

    <div class="clearfix visible-sm-block"></div>

    <div class="grid-historie col-fixed col-sm-6 col-md-4">
      {% for block in site.blocks %}
      {% if block.theme == "3" and block.lession == "E" %}   
      <a href="/blocks/{{ block.theme }}{{ block.lession | downcase }}.html" class="grid-item-wrapper">    
        <div class="grid-image-wrapper">
          <span class="label item-label">Madkundskab</span>
          <div class="grid-image"><img src="{{ block.image }}" /></div>
        </div>
        <div class="grid-item">
          <div class="grid-label-wrapper">
            <span class="label item-label">lektion {{ block.theme }}{{ block.lession }}</span>
            <span class="label item-label">{{ block.time }}</span>
          </div>
          <h1 class="grid-item-title">{{ block.title }}</h1>
          <p>{{ block.intro }}</p>
        </div>
      </a> <!-- grid-item-wrapper -->
      {% endif %}
      {% endfor %}
    </div>

    <div class="grid-opskrift col-fixed col-sm-6 col-md-4">
      {% for block in site.blocks %}
      {% if block.theme == "3" and block.lession == "F" %}   
      <a href="/blocks/{{ block.theme }}{{ block.lession | downcase }}.html" class="grid-item-wrapper">    
        <div class="grid-image-wrapper">
          <span class="label item-label">Madkundskab</span>
          <div class="grid-image"><img src="{{ block.image }}" /></div>
        </div>
        <div class="grid-item">
          <div class="grid-label-wrapper">
            <span class="label item-label">lektion {{ block.theme }}{{ block.lession }}</span>
            <span class="label item-label">{{ block.time }}</span>
          </div>
          <h1 class="grid-item-title">{{ block.title }}</h1>
          <p>{{ block.intro }}</p>

        </div>
      </a> <!-- grid-item-wrapper -->
      {% endif %}
      {% endfor %}
    </div>

    <div class="clearfix visible-sm-block"></div>
    <div class="clearfix visible-md-block visible-lg-block"></div>

    {% for block in site.blocks %}
    {% if block.theme == "4" %}
    {% unless block.lession %}

    <a name="theme{{ block.theme }}"></a>
    <div class="grid-row-header">
      <div class="grid-title-wrapper">
        <span class="grid-title-label">{{ block.theme }}</span>
        <h1 class="item-title">{{ block.title }}</h1>
      </div>
      <p class="item-text">{{ block.intro }}</p>
    </div>

    {% endunless %}
    {% endif %}
    {% endfor %}

    <div class="grid-madkundskab col-fixed col-sm-6 col-md-4">
      {% for block in site.blocks %}
      {% if block.theme == "4" and block.lession == "A" %}   
      <a href="/blocks/{{ block.theme }}{{ block.lession | downcase }}.html" class="grid-item-wrapper">    
        <div class="grid-image-wrapper">
          <span class="label item-label">Madkundskab</span>
          <div class="grid-image"><img src="{{ block.image }}" /></div>
        </div>
        <div class="grid-item">
          <div class="grid-label-wrapper">
            <span class="label item-label">lektion {{ block.theme }}{{ block.lession }}</span>
            <span class="label item-label">{{ block.time }}</span>
          </div>
          <h1 class="grid-item-title">{{ block.title }}</h1>
          <p>{{ block.intro }}</p>

        </div>
      </a> <!-- grid-item-wrapper -->
      {% endif %}
      {% endfor %}
    </div>

    <div class="grid-natur-teknologi col-fixed col-sm-6 col-md-4">
      {% for block in site.blocks %}
      {% if block.theme == "4" and block.lession == "B" %}   
      <a href="/blocks/{{ block.theme }}{{ block.lession | downcase }}.html" class="grid-item-wrapper">    
        <div class="grid-image-wrapper">
          <span class="label item-label">Madkundskab</span>
          <div class="grid-image"><img src="{{ block.image }}" /></div>
        </div>
        <div class="grid-item">
          <div class="grid-label-wrapper">
            <span class="label item-label">lektion {{ block.theme }}{{ block.lession }}</span>
            <span class="label item-label">{{ block.time }}</span>
          </div>
          <h1 class="grid-item-title">{{ block.title }}</h1>
          <p>{{ block.intro }}</p>

        </div>
      </a> <!-- grid-item-wrapper -->
      {% endif %}
      {% endfor %}
    </div>

    <div class="clearfix visible-sm-block"></div>

    <div class="grid-dansk col-fixed col-sm-6 col-md-4">
      {% for block in site.blocks %}
      {% if block.theme == "4" and block.lession == "C" %}   
      <a href="/blocks/{{ block.theme }}{{ block.lession | downcase }}.html" class="grid-item-wrapper">    
        <div class="grid-image-wrapper">
          <span class="label item-label">Madkundskab</span>
          <div class="grid-image"><img src="{{ block.image }}" /></div>
        </div>
        <div class="grid-item">
          <div class="grid-label-wrapper">
            <span class="label item-label">lektion {{ block.theme }}{{ block.lession }}</span>
            <span class="label item-label">{{ block.time }}</span>
          </div>
          <h1 class="grid-item-title">{{ block.title }}</h1>
          <p>{{ block.intro }}</p>

        </div>
      </a> <!-- grid-item-wrapper -->
      {% endif %}
      {% endfor %}
    </div>

    <div class="clearfix visible-md-block visible-lg-block"></div>

    <div class="grid-matematik col-fixed col-sm-6 col-md-4">
      {% for block in site.blocks %}
      {% if block.theme == "4" and block.lession == "D" %}   
      <a href="/blocks/{{ block.theme }}{{ block.lession | downcase }}.html" class="grid-item-wrapper">    
        <div class="grid-image-wrapper">
          <span class="label item-label">Madkundskab</span>
          <div class="grid-image"><img src="{{ block.image }}" /></div>
        </div>
        <div class="grid-item">
          <div class="grid-label-wrapper">
            <span class="label item-label">lektion {{ block.theme }}{{ block.lession }}</span>
            <span class="label item-label">{{ block.time }}</span>
          </div>
          <h1 class="grid-item-title">{{ block.title }}</h1>
          <p>{{ block.intro }}</p>

        </div>
      </a> <!-- grid-item-wrapper -->
      {% endif %}
      {% endfor %}
    </div>

    <div class="clearfix visible-sm-block"></div>

    <div class="grid-historie col-fixed col-sm-6 col-md-4">
      {% for block in site.blocks %}
      {% if block.theme == "4" and block.lession == "E" %}   
      <a href="/blocks/{{ block.theme }}{{ block.lession | downcase }}.html" class="grid-item-wrapper">    
        <div class="grid-image-wrapper">
          <span class="label item-label">Madkundskab</span>
          <div class="grid-image"><img src="{{ block.image }}" /></div>
        </div>
        <div class="grid-item">
          <div class="grid-label-wrapper">
            <span class="label item-label">lektion {{ block.theme }}{{ block.lession }}</span>
            <span class="label item-label">{{ block.time }}</span>
          </div>
          <h1 class="grid-item-title">{{ block.title }}</h1>
          <p>{{ block.intro }}</p>
        </div>
      </a> <!-- grid-item-wrapper -->
      {% endif %}
      {% endfor %}
    </div>

    <div class="grid-opskrift col-fixed col-sm-6 col-md-4">
      {% for block in site.blocks %}
      {% if block.theme == "4" and block.lession == "F" %}   
      <a href="/blocks/{{ block.theme }}{{ block.lession | downcase }}.html" class="grid-item-wrapper">    
        <div class="grid-image-wrapper">
          <span class="label item-label">Madkundskab</span>
          <div class="grid-image"><img src="{{ block.image }}" /></div>
        </div>
        <div class="grid-item">
          <div class="grid-label-wrapper">
            <span class="label item-label">lektion {{ block.theme }}{{ block.lession }}</span>
            <span class="label item-label">{{ block.time }}</span>
          </div>
          <h1 class="grid-item-title">{{ block.title }}</h1>
          <p>{{ block.intro }}</p>

        </div>
      </a> <!-- grid-item-wrapper -->
      {% endif %}
      {% endfor %}
    </div>

    <div class="clearfix visible-sm-block"></div>
    <div class="clearfix visible-md-block visible-lg-block"></div>

    {% for block in site.blocks %}
    {% if block.theme == "5" %}
    {% unless block.lession %}

    <a name="theme{{ block.theme }}"></a>
    <div class="grid-row-header">
      <div class="grid-title-wrapper">
        <span class="grid-title-label">{{ block.theme }}</span>
        <h1 class="item-title">{{ block.title }}</h1>
      </div>
      <p class="item-text">{{ block.intro }}</p>
    </div>

    {% endunless %}
    {% endif %}
    {% endfor %}

    <div class="grid-madkundskab col-fixed col-sm-6 col-md-4">
      {% for block in site.blocks %}
      {% if block.theme == "5" and block.lession == "A" %}   
      <a href="/blocks/{{ block.theme }}{{ block.lession | downcase }}.html" class="grid-item-wrapper">    
        <div class="grid-image-wrapper">
          <span class="label item-label">Madkundskab</span>
          <div class="grid-image"><img src="{{ block.image }}" /></div>
        </div>
        <div class="grid-item">
          <div class="grid-label-wrapper">
            <span class="label item-label">lektion {{ block.theme }}{{ block.lession }}</span>
            <span class="label item-label">{{ block.time }}</span>
          </div>
          <h1 class="grid-item-title">{{ block.title }}</h1>
          <p>{{ block.intro }}</p>

        </div>
      </a> <!-- grid-item-wrapper -->
      {% endif %}
      {% endfor %}
    </div>

    <div class="grid-natur-teknologi col-fixed col-sm-6 col-md-4">
      {% for block in site.blocks %}
      {% if block.theme == "5" and block.lession == "B" %}   
      <a href="/blocks/{{ block.theme }}{{ block.lession | downcase }}.html" class="grid-item-wrapper">    
        <div class="grid-image-wrapper">
          <span class="label item-label">Madkundskab</span>
          <div class="grid-image"><img src="{{ block.image }}" /></div>
        </div>
        <div class="grid-item">
          <div class="grid-label-wrapper">
            <span class="label item-label">lektion {{ block.theme }}{{ block.lession }}</span>
            <span class="label item-label">{{ block.time }}</span>
          </div>
          <h1 class="grid-item-title">{{ block.title }}</h1>
          <p>{{ block.intro }}</p>

        </div>
      </a> <!-- grid-item-wrapper -->
      {% endif %}
      {% endfor %}
    </div>

    <div class="clearfix visible-sm-block"></div>

    <div class="grid-dansk col-fixed col-sm-6 col-md-4">
      {% for block in site.blocks %}
      {% if block.theme == "5" and block.lession == "C" %}   
      <a href="/blocks/{{ block.theme }}{{ block.lession | downcase }}.html" class="grid-item-wrapper">    
        <div class="grid-image-wrapper">
          <span class="label item-label">Madkundskab</span>
          <div class="grid-image"><img src="{{ block.image }}" /></div>
        </div>
        <div class="grid-item">
          <div class="grid-label-wrapper">
            <span class="label item-label">lektion {{ block.theme }}{{ block.lession }}</span>
            <span class="label item-label">{{ block.time }}</span>
          </div>
          <h1 class="grid-item-title">{{ block.title }}</h1>
          <p>{{ block.intro }}</p>

        </div>
      </a> <!-- grid-item-wrapper -->
      {% endif %}
      {% endfor %}
    </div>

    <div class="clearfix visible-md-block visible-lg-block"></div>

    <div class="grid-matematik col-fixed col-sm-6 col-md-4">
      {% for block in site.blocks %}
      {% if block.theme == "5" and block.lession == "D" %}   
      <a href="/blocks/{{ block.theme }}{{ block.lession | downcase }}.html" class="grid-item-wrapper">    
        <div class="grid-image-wrapper">
          <span class="label item-label">Madkundskab</span>
          <div class="grid-image"><img src="{{ block.image }}" /></div>
        </div>
        <div class="grid-item">
          <div class="grid-label-wrapper">
            <span class="label item-label">lektion {{ block.theme }}{{ block.lession }}</span>
            <span class="label item-label">{{ block.time }}</span>
          </div>
          <h1 class="grid-item-title">{{ block.title }}</h1>
          <p>{{ block.intro }}</p>

        </div>
      </a> <!-- grid-item-wrapper -->
      {% endif %}
      {% endfor %}
    </div>

    <div class="clearfix visible-sm-block"></div>

    <div class="grid-historie col-fixed col-sm-6 col-md-4">
      {% for block in site.blocks %}
      {% if block.theme == "5" and block.lession == "E" %}   
      <a href="/blocks/{{ block.theme }}{{ block.lession | downcase }}.html" class="grid-item-wrapper">    
        <div class="grid-image-wrapper">
          <span class="label item-label">Madkundskab</span>
          <div class="grid-image"><img src="{{ block.image }}" /></div>
        </div>
        <div class="grid-item">
          <div class="grid-label-wrapper">
            <span class="label item-label">lektion {{ block.theme }}{{ block.lession }}</span>
            <span class="label item-label">{{ block.time }}</span>
          </div>
          <h1 class="grid-item-title">{{ block.title }}</h1>
          <p>{{ block.intro }}</p>
        </div>
      </a> <!-- grid-item-wrapper -->
      {% endif %}
      {% endfor %}
    </div>

    <div class="grid-opskrift col-fixed col-sm-6 col-md-4">
      {% for block in site.blocks %}
      {% if block.theme == "5" and block.lession == "F" %}   
      <a href="/blocks/{{ block.theme }}{{ block.lession | downcase }}.html" class="grid-item-wrapper">    
        <div class="grid-image-wrapper">
          <span class="label item-label">Madkundskab</span>
          <div class="grid-image"><img src="{{ block.image }}" /></div>
        </div>
        <div class="grid-item">
          <div class="grid-label-wrapper">
            <span class="label item-label">lektion {{ block.theme }}{{ block.lession }}</span>
            <span class="label item-label">{{ block.time }}</span>
          </div>
          <h1 class="grid-item-title">{{ block.title }}</h1>
          <p>{{ block.intro }}</p>

        </div>
      </a> <!-- grid-item-wrapper -->
      {% endif %}
      {% endfor %}
    </div>

    <div class="clearfix visible-sm-block"></div>
    <div class="clearfix visible-md-block visible-lg-block"></div>

  </div>

</div>



