---
layout: tema
title: Hvor i alverden kommer maden fra?
---
<nav class="navbar top-menu" id="">
    <ul id="myMenu" class="nav navbar-nav">
        <li data-menuanchor="firstPage" class="active tema tema1"><a href="#firstPage">{{ page.title }}</a></li>
        <li data-menuanchor="secondPage" class="madkundskab"><a href="#secondPage">Madkundskab</a></li>
        <li data-menuanchor="3rdPage" class="natur-teknologi"><a href="#3rdPage">Natur og teknologi</a></li>
        <li data-menuanchor="4thPage" class="dansk"><a href="#4thPage">Dansk</a></li>
        <li data-menuanchor="5thPage" class="matematik"><a href="#5thPage">Matematik</a></li>
        <li data-menuanchor="6thPage" class="historie"><a href="#6thPage">Historie</a></li>
    </ul>
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="http://spisornli.dk">
                <img alt="Brand" src="images/spisornli_logo.svg"/>
            </a>
        </div>
    </div>
</nav>

<div id="fullpage">
   {% include slides_theme.html param="4" %}    
</div> <!-- fullpage end -->

{% include popups_theme.html param="4" %}
