<!DOCTYPE HTML>
<html>
<head>
    
    <title>Spisornli | Undervisningsportal til 4.-6. klasse om mad, miljø og klima</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/main.css">
    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>

    <script src="js/jquery.slimscroll.min.js"></script>
	<script src="js/jquery.fullPage.min.js"></script>
    <script src="js/jquery.easings.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/Chart.js"></script>
    <script src="js/jquery.easyModal.js"></script>

    
    
</head>
<body class="homepage">
        {{ content }}
</body>
</html>
