<!DOCTYPE HTML>
<html>
    <head>

        <title>SpisOrnli | {{ page.title }}</title>

        <link rel="stylesheet" href="css/main.css">

        <meta charset="utf-8">
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="js/jquery.slimscroll.min.js"></script>
        <script src="js/jquery.fullPage.min.js"></script>
        <script src="js/jquery.easings.min.js"></script>
        <script src="js/jquery.easyModal.js"></script>
        <script src="//cdn.jsdelivr.net/jquery.scrollto/2.1.0/jquery.scrollTo.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

        
        
            


        <script type="text/javascript">
            $(document).ready(function() {

                function initialization(){
                    $('#fullpage').fullpage({
                        anchors:['firstPage', 'secondPage', '3rdPage', '4thPage', '5thPage', '6thPage'],
                        menu: '#myMenu',
                        verticalCentered: true,
                        slidesNavigation: false,
                        slidesNavPosition: 'bottom',
                        controlArrows: true,
                        normalScrollElements: '.popup',
                        loopHorizontal: false,
                        paddingTop: '0em',
                        css3: true,
                    });
                }


                //fullPage.js initialization
                initialization();

        </script>


    </head>
    <body>

        {{ content }}

        <script type="text/javascript">
            $(function() {
                $('.popup').easyModal({
                    top:0,
                    overlay: 0.2,
                    hasVariableWidth: true,
                    zIndex:function(){return 10000;}
                });

                $('.popup-open').click(function(e) {
                    var target = $(this).attr('href');
                    $(target).trigger('openModal');
                    e.preventDefault();
                });

                $('.popup-close').click(function(e) {
                    $('.popup').trigger('closeModal');
                });
                $('.opg-btn').click(function(e) {
                    var target = $(this).attr('href');
                    $('.popup').scrollTo(target,1000);
                });
            });
        </script>


    </body>
</html>